@model Vidly.ViewModels.CustomerForViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div>

        <div class="form-group">
            @Html.LabelFor(m => m)
            @Html.TextBoxFor(m => m.customer.Name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.customer.Birthdate)
            @Html.TextBoxFor(m => m.customer.Birthdate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.customer.MembershipTypeId)
            @Html.DropDownListFor(m => m.customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">@Html.CheckBoxFor(m => m.customer.IsSubscribedToNewsLetter) Is Subscribed to newsletter?</label>
        </div>
    </div>
    @Html.HiddenFor( h => h.customer.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}

